<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Sublime project">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../../Content/ShoppingUI/styles/bootstrap4/bootstrap.min.css">
        <link href="../../Content/ShoppingUI/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="../../Content/ShoppingUI/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
        <link rel="stylesheet" type="text/css" href="../../Content/ShoppingUI/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
        <link rel="stylesheet" type="text/css" href="../../Content/ShoppingUI/plugins/OwlCarousel2-2.2.1/animate.css">
        <link rel="stylesheet" type="text/css" href="../../Content/ShoppingUI/styles/main_styles.css">
        <link rel="stylesheet" type="text/css" href="../../Content/ShoppingUI/styles/responsive.css">       
    </head>
    <body>
        @RenderBody()
    
    <div class="footer_overlay"></div>
    <footer class="footer">
        <div class="footer_background" style="background-image:url(../../Content/ShoppingUI/images/footer.jpg)"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_content d-flex flex-lg-row flex-column align-items-center justify-content-lg-start justify-content-center">
                        <div class="footer_logo">@Html.ActionLink("LAPTOP", "Home", "Home")</div>
                        <div class="copyright ml-auto mr-auto">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by Group 7 FU_DotNet06
                        </div>
                        <div class="footer_social ml-lg-auto">
                            <ul>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="../../Content/ShoppingUI/js/jquery-3.2.1.min.js"></script>
    <script src="../../Content/ShoppingUI/styles/bootstrap4/popper.js"></script>
    <script src="../../Content/ShoppingUI/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="../../Content/ShoppingUI/plugins/greensock/TweenMax.min.js"></script>
    <script src="../../Content/ShoppingUI/plugins/greensock/TimelineMax.min.js"></script>
    <script src="../../Content/ShoppingUI/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../../Content/ShoppingUI/plugins/greensock/animation.gsap.min.js"></script>
    <script src="../../Content/ShoppingUI/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="../../Content/ShoppingUI/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../../Content/ShoppingUI/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="../../Content/ShoppingUI/plugins/easing/easing.js"></script>
    <script src="../../Content/ShoppingUI/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="../../Content/ShoppingUI/js/custom.js"></script>
    </body>
</html>
